.venv/
venv/
.env/

.venv_sql_server/
venv_sql_server/

__pycache__/
*.py[cod]
*$py.class

target/
dbt_packages/
logs/

.user.yml
*.user.yml

profiles.yml
**/profiles.yml

.vscode/

.DS_Store
Thumbs.db